name: tozz project

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Setup Node.js
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # 3. Cache npm dependencies
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      # 4. Install dependencies
      - name: Install dependencies
        run: npm ci

      # 5. Build React app
      - name: Build React app
        run: npm run build

      # 6. Run Gitleaks scan
      - name: Run Gitleaks scan
        uses: zricethezav/gitleaks-action@v2
        with:
          args: "--report-path results.sarif"

      - name: Upload Gitleaks report
        uses: actions/upload-artifact@v4
        with:
          name: gitleaks-report
          path: results.sarif

      # 7. Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 8. Build and push Docker image
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name == 'push' }}
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/myapp:latest

      # 9. Test Docker image locally
      - name: Test Docker image locally
        run: |
          docker run -d --name democyber-test -p 8080:80 ${{ secrets.DOCKERHUB_USERNAME }}/myapp:latest
          sleep 10
          curl -f http://localhost:8080 || echo "App not responding"
          docker stop democyber-test
          docker rm democyber-test

      # 10. Scan Docker image with Trivy
      - name: Scan Docker image with Trivy
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/myapp:latest
          format: 'table'
          exit-code: '0'
          severity: 'CRITICAL,HIGH'

# Run SonarCloud scan
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-acï¿½on@master
        with:
          projectBaseDir: .
          args: >
            -Dsonar.organization=${{ secrets.SONAR_ORGANIZATION }}
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
